[submodule "Qlib-with-Claudex"]
	path = Qlib-with-Claudex
	url = https://github.com/rozwer/qlib-with-claudex-sub.git
[submodule "RD-Agent-with-Claudex"]
	path = RD-Agent-with-Claudex
	url = https://github.com/rozwer/RD-Agent-with-Claudex.git
